@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*
CSS Reset


  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

#title {
  margin-top: 1rem;
}

#outer-grid-container {
  margin-top: 2rem;
}

#grid {
  display: grid;
  width: 525px;
  height: 525px;
  margin: 1rem auto;
  /* border: 5px solid black; */
}

#buttons-container {
  margin-top: 2rem;
}

.square {
  border: 1px solid #d6e9c6;
  background: rgb(212, 212, 212);
  border-radius: 3px;
}

.coloredSquare {
  background-color: black;
}

footer {
  margin-top: 2rem;
  font-size: small;
}
